{% extends "base.html" %}

{% block body %}
<script src="/static/bower_components/jquery-form/jquery.form.js"></script>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
<form id="formAddFlow" class="form" action="/api/add_flow" method="POST" role="form">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label>Node</label>
        {% if 'nodes' in flows_output_ports %}
        <select name="flow_node" class="form-control">
            {% for key, obj in flows_output_ports['nodes'].iteritems() %}

                {% for key2 in obj %}
                    <option value="{{key2['id']}}">{{key2['flow-node-inventory:ip-address']}} ({{key2['id']}})</option>
                {% endfor %}
            {% endfor %}
        </select>
        {% else %}
            <input name="flow_node" class="form-control">
        {% endif %}
    </div>
    <div class="form-group">
        <label>Flow ID</label>
        <input name="flow_id" class="form-control" placeholder="ID">
    </div>

    <div class="form-group">
        <label>Priority</label>
        <select name="flow_priority" class="form-control">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <label>Destination Prefix</label>
        <input name="flow_destination_prefix" class="form-control" placeholder="IPv4 Prefix">
    </div>

    <div class="form-group">
        <label>Output Port</label>
        <select name="flow_output_port" class="form-control">

            {% for key, obj in flows_output_ports['nodes'].iteritems() %}
                {% for key2 in obj %}
                    {% for key3 in key2['node-connector'] %}
                        <option value="{{key3['id']}}">{{key2['flow-node-inventory:ip-address']}} - {{key3['flow-node-inventory:name']}}</option>
                    {% endfor %}
                {% endfor %}
            {% endfor %}

        </select>
    </div>
    <div class="form-group">
        <label>Table ID</label>
        <select name="flow_table_id" class="form-control">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>


    <button type="submit" class="btn btn-success">Add</button>
    <button type="reset" class="btn btn-danger">Reset</button>

    <div class="alert alert-success" id="alertSuccess" style="display:none;">

    </div>
    <div class="alert alert-danger" id="alertDanger" style="display:none;">

    </div>
</form>
<script>
    $(document).ready(function() {
        $('#formAddFlow').submit(function(e) {
            e.preventDefault();
            var options = {
                type: 'POST',
                dataType: 'json',
                success:       showResponse,
                resetForm: true
            };


            $(this).ajaxSubmit(options);

            return false;
        });


        function showResponse(data) {
            if (data.error == 1) {
                $('#alertSuccess').html('').hide();
                $('#alertDanger').html(data.message).show();
                return false;
            }

                $('#alertDanger').html('').hide();
                $('#alertSuccess').html(data.message).show();

        }
    });
</script>
{% endblock %}